body {
  margin: 0px;
  height: 100vh;
  font-family: Arial, sans-serif;
}


input {
  font-size: 18px;
  width: 300px;
  padding: 15px 0;
  /* Parent selector = & */
}
input:focus {
  outline: none;
}

/* Bottom left text */
.bottom-left {
  font-size: x-large;
  position: absolute;
  bottom: 12px;
  left: 18px;
}

/* Top left text */
.top-left {
  font-size: large;
  top: 10px;
  left: 16px;
}
.col-sm-6 {
  font-size: large;
  top: 12px;

}
.top-right {
  font-size: large; 
  font-family: roboto;

}
.header, .header-links, .header-advanced-logo, .header-advanced {
  display: flex;
  align-items: center;
  font-family: roboto;
}
.header a, .header-links a, .header-advanced-logo a, .header-advanced a {
  font-family: roboto;
  color: black;
  padding: 10px;
  text-decoration: none;
  
  
}
.header-advanced {
  background-color: #cfcfcf;
  height: 50px;
  
}
.header-advanced-logo {
  padding: 10px;
}
.header-advanced-logo img {
  height: 30px;
}
.header-links {
  margin-right: auto;
}

.appbar {  
  font-family: roboto;
  color: #ff0000a9;
  margin: 20px 10px;
  font-size: 30px;
}

.separator-line {
  border-bottom: solid 2px #757575;
}
.search-container {
  /* Align the search container */
  justify-content: center;
  align-items: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  
}
.search-container .search-field {
  align-items: center;
  margin: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 1px solid #3d3d3d;
  
}
.search-container .search-field input {
  text-align: center;
  border: none;
  border-radius: 25px;
  
}
.search-container .logo-subtext {
  color: #4285f4;
  position: relative;  
  font-family: roboto;
  center:12 px;
  top: 8px;
}


.advanced-search-container {
  margin: 52px 45px;
}
.advanced-search-container label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advanced-search-container .whitespace {
  display: inline-block;
  width: 50%;
}
.advanced-search-container .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  font-family: roboto;
}
.advanced-search-container .form-group label {
  width: 16%;
  font-size: 14px;
}
.advanced-search-container .form-group input[type=text] {
  width: 49%;
  padding: 2px 0;
}
.advanced-search-container .form-group .clarification {
  font-size: 14px;
  width: 28%;
  margin-left: 1%;
  font-family: roboto;
}
.advanced-search-container .form-group .clarification .roboto {
  font-family: roboto;
}
.advanced-search-container .form-group .right-align {
  width: 50%;
}
h3 {
  background-color: #ffffff; /* Green */
  border: 1px;
  padding-left: 15px;
  color: rgb(0, 110, 255);  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
#bin {
  color: #d80000;
  
  font-size: 16px;
  text-align: center;
}
input[type=text] {
  /* Give input text a lighter color */
  color: #000000;
  margin: 0 0 0 5px;
}
input[type=submit] {
  font-size: 15px;
  width: 190px;
  /* Remove border */
  border-width: 0px;
  border-radius: 15px;
  margin: 20px;
}
input[type=submit]:hover {
  /* hovering button */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}
input.blue-button {
  background-color: rgb(0, 128, 255);
  color: rgb(255, 255, 255);
  font-size: smaller;
  max-width: 200px;
  border-radius: 0px;
  border: 1px solid #0084ff;
  float: right;
  padding: 10px 2px;
  margin: 0;
}